body {
  background-color: #cacaca;
  overflow: hidden;
  width: 100vw;
  height: 1000vh;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  font-family: cursive;
}
a {
  text-decoration: none;
  color: inherit;
}
.topBarContainer {
  background-color: #282c34;
  color: white;
  text-align: center;
  position: relative;
  height: 15vh;
  top: 0px;
  left: 0px;
}
.topBarContainer .topBarTitle {
  height: 11vh;
  width: 100%;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid grey;
}
.topBarContainer .topBarTitle .topBarTitleText {
  line-height: 11vh;
  font-size: 4em;
}
.topBarContainer .topBarTab {
  position: relative;
  width: calc(50vw - 1px);
  float: left;
  height: 4vh;
  line-height: 4vh;
  border-right: 1px solid grey;
}
.topBarContainer .topBarTab:hover {
  background-color: #3f4550;
  cursor: pointer;
}
.gameWindowContainer {
  position: relative;
  height: 79vh;
  border: 1px solid grey;
}
.helpWindowContainer {
  position: relative;
  height: 79vh;
  border: 1px solid grey;
  overflow-y: scroll;
}
.helpWindowContainer .helpWindowSection {
  padding: 1.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionHeader {
  text-align: center;
  line-height: 5vh;
  height: 6vh;
  font-weight: bold;
  font-size: 3em;
  color: white;
  background-color: #282c34;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent {
  padding-top: 5vh;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower {
  margin-bottom: 3vh;
  margin-left: calc(100% - 70vw);
  width: 50vw;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .name {
  width: 100%;
  text-align: center;
  font-size: 2em;
  background-color: #e2d6ac;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .cost {
  width: 15vw;
  float: right;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .picture {
  width: 200px;
  height: 200px;
  border: 1px solid;
  position: relative;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .description {
  width: 15vw;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .upgrades {
  width: 100%;
  height: auto;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .upgrades .upgradesTitle {
  width: 100%;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  font-size: 2em;
  background-color: #cacaca;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .upgrades .upgrade {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 5vh;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .tower .upgrades .upgrade .upgradePicture {
  width: 100px;
  height: 100px;
  border: 1px solid;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy {
  margin-bottom: 3vh;
  margin-left: calc(100% - 70vw);
  width: 50vw;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .name {
  width: 100%;
  text-align: center;
  font-size: 2em;
  background-color: #e2d6ac;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .level {
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .picture {
  width: 200px;
  height: 200px;
  border: 1px solid;
  position: relative;
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .health {
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .armour {
}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .speed {

}
.helpWindowContainer .helpWindowSection .helpWindowSectionContent .enemy .special {

}
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  height: 6vh;
  line-height: 1.3vh;
  font-size: 10px;
}
